$whitecolor: #ffffff
$redcolor: #c70101

@mixin btn_hover
  &:hover
    background-image: none
    background-color: #c37a23
    transition: 1.5s all

@mixin btn_main
  border-radius: 5px
  background-color: $redcolor
  color: $whitecolor
  font-size: 12px
  font-weight: 400
  text-transform: uppercase
  @include btn_hover

@mixin flex-row
  display: flex
  flex-flow: row nowrap

@mixin flex-column
  display: flex
  flex-flow: column nowrap


@import "fonts"

*
  box-sizing: border-box
  font-family: 'Museo Sans Cyrl', sans-serif

  .promo
    background: url('../img/bg1.jpg') center center/ cover no-repeat
    height: 700px
    display: grid
    grid-template-rows: repeat(auto-fit, 1fr)

    .container
      max-width: 950px
      width: 100%
      margin: 0 auto
      padding: 21px 95px 0 95px

      .header__elem1
        @include flex-row
        justify-content: space-between

        .header__logo
          height: 45px
          margin-top: 15px

        p
          color: $whitecolor
          font-size: 12px
          font-weight: 400
          margin-top: 12px
          margin-bottom: 12px

        .header__text
          color: $whitecolor
          font-size: 18px
          font-weight: 700

        .header__official
          text-align: center

        .header__call
          @include flex-column
          justify-content: flex-end

          .btn
            margin-right: 1px
            padding: 5px 20px
            border-radius: 5px
            background-color: $redcolor
            color: $whitecolor
            font-size: 12px
            font-weight: 400
            text-transform: uppercase
            @include btn_hover

      .header__elem2
        margin-top: 75px
        text-align: right
        color: $whitecolor
        font-weight: 400
        text-transform: uppercase

        h2
          font-size: 42px
          margin: 0

        h3
          font-size: 24px
          margin: 17px 0 0 0


      .header__elem3
        margin-top: 66px
        @include flex-row
        justify-content: flex-end

        .figure
          max-width: 105px
          @include flex-column
          align-items: center
          align-content: space-between
          justify-content: center
          text-align: center
          color: $whitecolor
          font-size: 12px
          font-weight: 400
          margin-right: 70px

          &:last-child
            margin-right: 0

          figcaption
            margin-top: 20px

      .header__elem4
        margin: 67px 0 93px 0
        @include flex-column
        align-items: flex-end

        .btn
          @include btn_main
          padding: 18px 43px
          font-size: 16px

        a
          margin-top: 18px
          color: $whitecolor
          font-size: 16px
          font-weight: 400
          text-decoration: underline