.btn
  margin-right: 1px
  border-radius: 5px
  border-style: none
  background-color: $redcolor
  color: $whitecolor
  font-size: 12px
  font-weight: 500
  text-transform: uppercase
  @include btn_hover

  &_main
    padding: 18px 43px
    font-size: 16px

  &_consult
    margin-top: 4px
    font-size: 16px
    padding: 20px 43px