.carousel
  box-sizing: border-box
  min-height: 527px
  background-color: $whitecolor
  padding: 108px 0
  @include for-tablet-portrait-up
    padding: 40px 0
  @include for-phone-only
    min-height: 327px

  &__inner
    position: relative
    margin: 0 auto
    width: 700px

  .prev, .next
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 55px
    border: none
    background-color: transparent

    button
      width: 31px
      height: 50px

  .next
    left: auto
    right: 55px

  .tns-item
    img
      display: block
      margin: 0 auto
      @include for-tablet-portrait-up
        padding: 0
      @include for-phone-only
        width: 350px