.consultation
  min-height: 680px
  background: url('../../img/bg2.jpg') center center/ cover no-repeat
  padding: 100px 0 92px 0

  &__block
    @include flex-column
    align-items: flex-start
    color: #ffffff


    h2
      min-width: 780px
      font-size: 36px
      font-weight: 700
      text-transform: uppercase

    h3
      max-width: 380px
      margin-top: 80px
      font-size: 20px
      font-weight: 500