.header
  @include flex-row
  justify-content: space-between
  @include for-phone-only
    display: flex
    flex-flow: column nowrap
    align-items: center

  &__logo
    height: 45px
    margin-top: 15px
    width: 250px

    img
      width: 100%

  p
    color: $whitecolor
    font-size: 12px
    font-weight: 400
    margin-top: 12px
    margin-bottom: 12px
    @include for-phone-only
      margin-top: 26px

  &__text
    color: $whitecolor
    font-size: 18px
    font-weight: 700
    @include for-phone-only
      margin-top: 13px
      margin-bottom: 13px

  &__official
    text-align: center

  &__call
    @include flex-column
    justify-content: flex-end

    button
      padding: 10px 21px

